In [1]:
#from sqlalchemy import create_engine
import __init__
import qqespm_module as qq
import qqspm_sql_module as qqsql
import ilquadtree
import psycopg2
from test_connection import test_connection
from config import config
from geopandas import GeoDataFrame
import shapely
from toporel import compute_relation
from time import time
import multiprocessing
from functools import partial
import psutil
from lat_lon_distance2 import lat_lon_distance

In [3]:
relations_to_postgis_functions = {
    'equals': 'ST_Equals', 
    'touches': 'ST_Touches', 
    'overlaps': 'ST_Overlaps', 
    'covers': 'ST_Contains', 
    'coveredby': 'ST_Within', 
    'disjoint': 'ST_Disjoint',
    'intersects': 'ST_Intersects'
}

In [2]:
#db_string = "postgresql://postgres:5432@localhost:5432/osm_london"
#db_connection = create_engine(db_string)

In [3]:
# conn = psycopg2.connect(
#     host="localhost",
#     database="osm_uk_pois",
#     user="postgres",
#     password="")

In [4]:
test_connection()

Connecting to the PostgreSQL database...
PostgreSQL database version:
('PostgreSQL 13.12 (Ubuntu 13.12-1.pgdg20.04+1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 9.4.0-1ubuntu1~20.04.1) 9.4.0, 64-bit',)
Database connection closed.

In [21]:
params = config()
conn = psycopg2.connect(**params)
cur = conn.cursor()

In [6]:
cur.execute('SELECT * FROM pois LIMIT 2')
result = cur.fetchone()
print(result)

(-16661838, None, None, None, None, None, None, 'house', None, None, '0103000020E61000000100000008000000E6C2ED75F7A593BF3F0A2E945DB94940B0F215EEA6A593BF34ECE2CF5CB94940B60600D8CA9593BFC0A1DBE45CB94940250516C0948193BF72D681FB5CB94940480F8D38AE9093BF32563C7D5FB949406AD784B4C6A093BFE07186C55EB949403E28DEB7109A93BF0B81A2A65DB94940E6C2ED75F7A593BF3F0A2E945DB94940', 'polygon')

In [7]:
[column.name for column in cur.description]

['osm_id',
 'name',
 'amenity',
 'shop',
 'tourism',
 'landuse',
 'leisure',
 'building',
 'office',
 'government',
 'geometry',
 'data_type']

In [9]:
# curs.execute("""\
# SELECT gid, ST_AsGeoJSON(geog), ST_Distance(geog, poi)
# FROM my_points, (SELECT ST_MakePoint(%s, %s)::geography AS poi) AS f
# WHERE ST_DWithin(geog, poi, 1000);""", poi)

cur.execute('SELECT * FROM pois LIMIT 2')

for row in cur.fetchall():
    print(row)

(-17004864, None, None, None, None, 'meadow', None, None, None, None, '0103000020E6100000010000000D000000774DFEDDF1DCC9BF70C35BC4D2CE4940126C5CFFAECFC9BF5305593DCCCE494036035C902DCBC9BFE576405BCECE4940C182A0489CBAC9BF1D625B88D5CE494084A4051ECEB2C9BF1709453CD9CE4940F8A92A3410CBC9BF64101933E4CE4940479BF4087FD0C9BF4D9FBC11DDCE4940CC5B1A6437D8C9BF2BDCFD18DFCE49405CFC6D4F90D8C9BF16B4D468DECE49402BF587C157CFC9BF8975EE64DCCE49400511A96917D3C9BFAE7867DBD5CE4940F7133A54F8D8C9BFA00C2D34D7CE4940774DFEDDF1DCC9BF70C35BC4D2CE4940', 'polygon')
(-17004862, None, None, None, None, 'meadow', None, None, None, None, '0103000020E61000000100000009000000F8A92A3410CBC9BF64101933E4CE494084A4051ECEB2C9BF1709453CD9CE49400C95DAE621AEC9BFAFAD2D74DBCE4940352D67A5FF9BC9BFB73C865AE4CE4940E5F0A4E0849DC9BFFDCEA6B6E5CE49409542C5DDC5A0C9BFF5675B05E7CE49402488049D5AC7C9BF71696203E9CE49405409055BDBCAC9BFF2262586E4CE4940F8A92A3410CBC9BF64101933E4CE4940', 'polygon')

In [10]:
sql = 'SELECT * FROM pois LIMIT 100'
result = GeoDataFrame.from_postgis(sql, conn, geom_col='geometry', 
    crs=None, index_col=None, coerce_float=True, parse_dates=None, params=None)

C:\Users\Carlos\miniconda3\Lib\site-packages\geopandas\io\sql.py:170: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(

In [11]:
result.head()

,osm_id,name,amenity,shop,tourism,landuse,leisure,building,office,government,geometry,data_type
0,-17004864,None,None,None,None,meadow,None,None,None,None,"POLYGON ((-0.20206 51.61581, -0.20165 51.61561...",polygon
1,-17004862,None,None,None,None,meadow,None,None,None,None,"POLYGON ((-0.20151 51.61634, -0.20077 51.61600...",polygon
2,-16941352,Mossford Green Primary School,school,None,None,None,None,school,None,None,"POLYGON ((0.07936 51.59140, 0.07944 51.59131, ...",polygon
3,-16941352,Mossford Green Primary School,school,None,None,None,None,school,None,None,"POLYGON ((0.08023 51.59162, 0.08034 51.59150, ...",polygon
4,-16855260,GROW at the Totteridge Academy,None,None,None,farmland,None,None,None,None,"POLYGON ((-0.20254 51.64018, -0.20225 51.63949...",polygon

In [15]:
# retrieve POI by osm_id
def get_poi_by_osmid(osm_id):
    sql = f'SELECT * FROM pois WHERE osm_id = {osm_id} LIMIT 3'
    result = GeoDataFrame.from_postgis(sql, conn, geom_col='geometry', 
        crs=None, index_col=None, coerce_float=True, parse_dates=None, params=None)
    return result

In [16]:
get_poi_by_osmid(373753958)

C:\Users\Carlos\miniconda3\Lib\site-packages\geopandas\io\sql.py:170: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(

,osm_id,name,amenity,shop,tourism,landuse,leisure,building,office,government,geometry,data_type
0,373753958,Central Middlesex Hospital - BECAD Centre,None,None,None,None,None,hospital,None,None,"POLYGON ((-0.27030 51.53081, -0.27018 51.53071...",polygon

In [16]:
(result['geometry'][0])

In [17]:
# qq-e-match type of search
sql = """
with tb1 as
(select * from pois where concat(amenity,' ',shop,' ',tourism,' ',landuse,' ',leisure,' ',building,' ',office,' ',government) like '%bank%')
,tb2 as
(select * from pois where concat(name,' ',amenity,' ',shop,' ',tourism,' ',landuse,' ',leisure,' ',building,' ',office,' ',government) like '%school%')
select tb1.osm_id as tb1_id, tb2.osm_id as tb2_id, tb1.name as tb1_name, tb2.name as tb2_name, tb1.amenity as tb1_amenity, tb2.amenity as tb2_amenity, 
tb1.building as tb1_building, tb2.building as tb2_building, tb1.geometry as tb1_geometry, ST_AsText(tb2.geometry) as tb2_geometry
from tb1, tb2
where (ST_DistanceSphere(st_centroid(tb1.geometry), st_centroid(tb2.geometry)) between 10 and 1000 
or ST_Intersects(tb1.geometry, tb2.geometry))
and tb1.osm_id != tb2.osm_id
limit 5
"""
result = GeoDataFrame.from_postgis(sql, conn, geom_col='tb1_geometry', 
    crs=None, index_col=None, coerce_float=True, parse_dates=None, params=None)

result.head()

c:\Users\CarlosVinicius\miniconda3\Lib\site-packages\geopandas\io\sql.py:170: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(

,tb1_id,tb2_id,tb1_name,tb2_name,tb1_amenity,tb2_amenity,tb1_building,tb2_building,tb1_geometry,tb2_geometry
0,901272229,907763906,Santander,Bikewise,bank,driving_school,yes,yes,"POLYGON ((-0.24185 51.37839, -0.24177 51.37835...","POLYGON((-0.2387418 51.377228799189545,-0.2386..."
1,901272229,923970519,Santander,None,bank,None,yes,school,"POLYGON ((-0.24185 51.37839, -0.24177 51.37835...","POLYGON((-0.231968 51.3801979991891,-0.2317528..."
2,901272229,24524820,Santander,Dorchester Primary School,bank,school,yes,None,"POLYGON ((-0.24185 51.37839, -0.24177 51.37835...","POLYGON((-0.2323839 51.38046199918909,-0.23144..."
3,901272229,24579662,Santander,None,bank,None,yes,school,"POLYGON ((-0.24185 51.37839, -0.24177 51.37835...","POLYGON((-0.2388994 51.37597409918971,-0.23863..."
4,901272229,24579673,Santander,Cheam Common Junior Academy,bank,None,yes,school,"POLYGON ((-0.24185 51.37839, -0.24177 51.37835...","POLYGON((-0.2384658 51.37565229918977,-0.23823..."

In [90]:
# keyword+radius type of search
center = (0, 51.4)
lng, lat = center
keyword = 'school'
radius = 1000.0

sql = f"""
SELECT osm_id, name, amenity, shop, tourism, geometry
FROM pois
WHERE ST_DWithin(geometry::geography, ST_Point({lng}, {lat}, 4326)::geography, {radius}, False)
AND CONCAT(amenity,' ',shop,' ',tourism,' ',landuse,' ',leisure,' ',building,' ',office,' ',government) like '%{keyword}%'
limit 5
"""
result = GeoDataFrame.from_postgis(sql, conn, geom_col='geometry', 
    crs=None, index_col=None, coerce_float=True, parse_dates=None, params=None)

result.head()

c:\Users\CarlosVinicius\miniconda3\Lib\site-packages\geopandas\io\sql.py:170: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(

,osm_id,name,amenity,shop,tourism,geometry
0,1047403827,Harris Primary Academy Shortlands,school,None,None,"POLYGON ((0.00304 51.40262, 0.00341 51.40228, ..."
1,402053252,Highfield Junior School,school,None,None,"POLYGON ((0.00071 51.39672, 0.00128 51.39602, ..."
2,440380094,Bishop Challoner School,school,None,None,"POLYGON ((-0.00433 51.40646, -0.00416 51.40642..."
3,440380153,Valley Primary School,school,None,None,"POLYGON ((0.00524 51.40696, 0.00537 51.40682, ..."
4,440381451,St Mark's Church of England Primary School,school,None,None,"POLYGON ((0.01075 51.39979, 0.01175 51.39908, ..."

In [91]:
lat_lon_distance(*result['geometry'][0].centroid.coords[0], 0, 51.4)

505.1376602120642

In [88]:
# SIMPLIFIED RADIUS SEARCH
def keyword_exists_inside_circle(conn, keyword:str, center: tuple, radius: float):
    sql = f"""
    SELECT osm_id
    FROM pois
    WHERE ST_DWithin(geometry::geography, ST_Point({lng}, {lat}, 4326)::geography, {radius})
    AND CONCAT(amenity,' ',shop,' ',tourism,' ',landuse,' ',leisure,' ',building,' ',office,' ',government) like '%{keyword}%'
    LIMIT 2
    """
    cur = conn.cursor()
    cur.execute(sql)
    result = cur.fetchall()
    cur.close()
    return len(result) > 0

In [89]:
center = (0, 51.4)
lng, lat = center
keyword = 'school'
radius = 300

keyword_exists_inside_circle(conn, keyword, center, radius)

True

In [3]:
def condition_for_keyword(column_names:list, keyword:str, boolean_connector:str = 'OR'):
    #boolean_connector must be either 'AND' or 'OR'
    expression = f"{column_names[0]} = '{keyword}' "
    for column in column_names[1:]:
        expression += f"{boolean_connector} {column} = '{keyword}' "
    return expression

In [4]:
def build_exclusion_check(lij, sign, tb_vi_name, tb_vj_name):
    exclusion_check = ''
    if sign == '>':
        exclusion_check += f"""(SELECT COUNT(*) FROM (SELECT osm_id, ST_DistanceSphere({tb_vj_name}.centroid,  {tb_vi_name}.centroid) as distance
        FROM {tb_vj_name}
        WHERE ST_DWithin({tb_vj_name}.centroid::geography, {tb_vi_name}.centroid::geography, {lij+7})) tbaux WHERE distance < {lij}) = 0 """
    elif sign == '<':
        exclusion_check += f"""(SELECT COUNT(*) FROM (SELECT osm_id, ST_DistanceSphere({tb_vj_name}.centroid,  {tb_vi_name}.centroid) as distance
        FROM {tb_vi_name}
        WHERE ST_DWithin({tb_vi_name}.centroid::geography, {tb_vj_name}.centroid::geography, {lij+7})) tbaux WHERE distance < {lij}) = 0 """
    elif sign == '<>':
        exclusion_check += f"""(SELECT COUNT(*) FROM (SELECT osm_id, ST_DistanceSphere({tb_vj_name}.centroid,  {tb_vi_name}.centroid) as distance
        FROM {tb_vj_name}
        WHERE ST_DWithin(({tb_vj_name}.centroid)::geography, ({tb_vi_name}.centroid)::geography, {lij+7})) tbaux1 WHERE tbaux1.distance < {lij} ) = 0 """
        exclusion_check += f""" AND \n(SELECT COUNT(*) FROM (SELECT osm_id, ST_DistanceSphere({tb_vj_name}.centroid,  {tb_vi_name}.centroid) as distance
        FROM {tb_vi_name}
        WHERE ST_DWithin({tb_vi_name}.centroid::geography, {tb_vj_name}.centroid::geography, {lij+7})) tbaux2 WHERE tbaux2.distance < {lij}) = 0 """
    return exclusion_check

In [5]:
def with_clause_temporary_table_keyword(keyword, column_names = ['amenity','shop','tourism']):
    return f"""    tb_{keyword} AS
    (SELECT * FROM pois WHERE {condition_for_keyword(column_names, keyword)})"""

In [6]:
print(with_clause_temporary_table_keyword('bank'))

    tb_bank AS
    (SELECT * FROM pois WHERE amenity = 'bank' OR shop = 'bank' OR tourism = 'bank' )

In [7]:
def with_clause_temporary_tables_all_keywords(keywords, column_names = ['amenity','shop','tourism']):
    return 'WITH\n' + ',\n'.join([with_clause_temporary_table_keyword(keyword, column_names = ['amenity','shop','tourism']) for keyword in keywords])

In [8]:
print(with_clause_temporary_tables_all_keywords(['bank', 'school', 'pharmacy'], column_names = ['amenity','shop']))

WITH
    tb_bank AS
    (SELECT * FROM pois WHERE amenity = 'bank' OR shop = 'bank' OR tourism = 'bank' ),
    tb_school AS
    (SELECT * FROM pois WHERE amenity = 'school' OR shop = 'school' OR tourism = 'school' ),
    tb_pharmacy AS
    (SELECT * FROM pois WHERE amenity = 'pharmacy' OR shop = 'pharmacy' OR tourism = 'pharmacy' )

In [9]:
def select_clause_all_keywords(keywords):
    temporary_table_names = [f'tb_{k}' for k in keywords]
    return 'SELECT ' + ', '.join([f'{ttn}.osm_id AS {ttn}_id' for ttn in temporary_table_names])

In [10]:
print(select_clause_all_keywords(['bank', 'school', 'pharmacy']))

SELECT tb_bank.osm_id AS tb_bank_id, tb_school.osm_id AS tb_school_id, tb_pharmacy.osm_id AS tb_pharmacy_id

In [11]:
def from_clause_all_keywords(keywords):
    temporary_table_names = [f'tb_{k}' for k in keywords]
    return 'FROM ' + ', '.join(temporary_table_names)

In [12]:
print(from_clause_all_keywords(['bank', 'school', 'pharmacy']))

FROM tb_bank, tb_school, tb_pharmacy

In [13]:
def condition_clause_for_edge(edge):
    wi = edge.vi.keyword
    wj = edge.vj.keyword
    tb_vi_name = f'tb_{wi}'
    tb_vj_name = f'tb_{wj}'
    lij, uij = edge.constraint['lij'], edge.constraint['uij']
    sign = edge.constraint['sign']
    relation = edge.constraint['relation']
    if lij > 0 and uij < float('inf'):
        distance_check = f'ST_DistanceSphere({tb_vi_name}.centroid, {tb_vj_name}.centroid) BETWEEN {lij} AND {uij} '
    elif lij > 0:
        distance_check = f'ST_DistanceSphere({tb_vi_name}.centroid, {tb_vj_name}.centroid) >= {lij} '
    else:
        distance_check = ''
    if edge.constraint['is_exclusive']:
        exclusion_check = build_exclusion_check(lij, sign, tb_vi_name, tb_vj_name)
    else:
        exclusion_check = ''
    if relation is not None:
        relation_check = relations_to_postgis_functions[relation] + f'({tb_vi_name}.geometry, {tb_vj_name}.geometry)'
    else:
        relation_check = ''
    return ' AND \n'.join([check for check in [distance_check, exclusion_check, relation_check] if check != ''])

In [2]:
v1 = qq.SpatialVertex(1, 'bank')
v2 = qq.SpatialVertex(2, 'school')
v3 = qq.SpatialVertex(3, 'pharmacy')

e12 = qq.SpatialEdge('1-2', v1, v2, 10, 100, '<>', 'disjoint')
e13 = qq.SpatialEdge('1-3', v1, v3, 10, 350, '-', 'touches')

sp = qq.SpatialPatternGraph([v1,v2,v3], [e12,e13])

In [15]:
print(condition_clause_for_edge(e13))

ST_Touches(tb_bank.geometry, tb_pharmacy.geometry)

In [16]:
def condition_clause_for_all_edges(edges):
    return ' AND \n'.join([condition_clause_for_edge(e) for e in edges])

In [17]:
print(condition_clause_for_all_edges([e12,e13]))

ST_DistanceSphere(tb_bank.centroid, tb_school.centroid) BETWEEN 10 AND 100  AND
(SELECT COUNT(*) FROM (SELECT osm_id, ST_DistanceSphere(tb_school.centroid,  tb_bank.centroid) as distance
        FROM tb_school
        WHERE ST_DWithin((tb_school.centroid)::geography, (tb_bank.centroid)::geography, 17)) tbaux1 WHERE tbaux1.distance < 10 ) = 0  AND
(SELECT COUNT(*) FROM (SELECT osm_id, ST_DistanceSphere(tb_school.centroid,  tb_bank.centroid) as distance
        FROM tb_bank
        WHERE ST_DWithin(tb_bank.centroid::geography, tb_school.centroid::geography, 17)) tbaux2 WHERE tbaux2.distance < 10) = 0  AND
ST_Disjoint(tb_bank.geometry, tb_school.geometry) AND
ST_Touches(tb_bank.geometry, tb_pharmacy.geometry)

In [18]:
def build_sql_query_for_spatial_pattern(sp, column_names = ['amenity','shop','tourism'], limit = 0):
    edges = sp.edges
    keywords = [v.keyword for v in sp.vertices]
    if limit > 0:
        limit_check = f'LIMIT {limit}'
    else:
        limit_check = ''
    condition_clause = '    ' + condition_clause_for_all_edges(edges).replace("\n", "\n    ")
    sql = f"""{with_clause_temporary_tables_all_keywords(keywords, column_names = ['amenity','shop','tourism'])}
    \r{select_clause_all_keywords(keywords)}
    \r{from_clause_all_keywords(keywords)}
    \rWHERE 
    \r{condition_clause}
    \r{limit_check}"""
    return sql

In [19]:
print(build_sql_query_for_spatial_pattern(sp, limit = 100))

WITH
    tb_bank AS
    (SELECT * FROM pois WHERE amenity = 'bank' OR shop = 'bank' OR tourism = 'bank' ),
    tb_school AS
    (SELECT * FROM pois WHERE amenity = 'school' OR shop = 'school' OR tourism = 'school' ),
    tb_pharmacy AS
    (SELECT * FROM pois WHERE amenity = 'pharmacy' OR shop = 'pharmacy' OR tourism = 'pharmacy' )
SELECT tb_bank.osm_id AS tb_bank_id, tb_school.osm_id AS tb_school_id, tb_pharmacy.osm_id AS tb_pharmacy_id
FROM tb_bank, tb_school, tb_pharmacy
WHERE
    ST_DistanceSphere(tb_bank.centroid, tb_school.centroid) BETWEEN 10 AND 100  AND
    (SELECT COUNT(*) FROM (SELECT osm_id, ST_DistanceSphere(tb_school.centroid,  tb_bank.centroid) as distance
            FROM tb_school
            WHERE ST_DWithin((tb_school.centroid)::geography, (tb_bank.centroid)::geography, 17)) tbaux1 WHERE tbaux1.distance < 10 ) = 0  AND
    (SELECT COUNT(*) FROM (SELECT osm_id, ST_DistanceSphere(tb_school.centroid,  tb_bank.centroid) as distance
            FROM tb_bank
            WHERE ST_DWithin(tb_bank.centroid::geography, tb_school.centroid::geography, 17)) tbaux2 WHERE tbaux2.distance < 10) = 0  AND
    ST_Disjoint(tb_bank.geometry, tb_school.geometry) AND
    ST_Touches(tb_bank.geometry, tb_pharmacy.geometry)
LIMIT 100

In [27]:
conn = qqsql.establish_postgis_connection(config_filename = '../config/paraiba_osm_database.ini')

In [ ]:
x = qqsql.compute_e_matches_for_an_edge_sql(conn, e12, column_names=['amenity','shop','tourism'], limit = 10, debug = True)

SQL query processed:
    WITH
    tb1 AS
    (SELECT * FROM pois WHERE amenity = 'bank' OR shop = 'bank' OR tourism = 'bank' ),
    tb2 as
    (SELECT * FROM pois WHERE amenity = 'school' OR shop = 'school' OR tourism = 'school' )
    SELECT tb1.osm_id as tb1_id, tb2.osm_id as tb2_id, tb1.name as tb1_name, tb2.name as tb2_name, tb1.geometry as tb1_geom, tb2.geometry as tb2_geom
    FROM tb1 INNER JOIN tb2
    ON
    ST_DistanceSphere(tb1.centroid, tb2.centroid) BETWEEN 10 AND 100
    AND (SELECT COUNT(*) FROM (SELECT osm_id, ST_DistanceSphere(tb2.centroid,  tb1.centroid) as distance
            FROM tb2
            WHERE ST_DWithin(tb2.centroid::geography, tb1.centroid::geography, 17)) tbaux1 WHERE tbaux1.distance < 10 ) = 0
             AND (SELECT COUNT(*) FROM (SELECT osm_id, ST_DistanceSphere(tb2.centroid,  tb1.centroid) as distance
            FROM tb1
            WHERE ST_DWithin(tb1.centroid::geography, tb2.centroid::geography, 17)) tbaux2 WHERE tbaux2.distance < 10) = 0

    AND ST_Disjoint(tb1.geometry, tb2.geometry)
    LIMIT 10

In [20]:
CONNECTION_IS_ESTABLISHED = False
DEFAULT_CONFIG_FILENAME = 'config/paraiba_osm_database.ini'
conn = None
COLUMN_NAMES = None

In [25]:
def QQSPM_SQL(sp, connection = None, config_filename = DEFAULT_CONFIG_FILENAME, debug = False):
    global CONNECTION_IS_ESTABLISHED
    global conn
    global COLUMN_NAMES
    if connection is not None: # then config_filename must be a string (not None)
        conn = connection
    elif not CONNECTION_IS_ESTABLISHED:
            conn = qqsql.establish_postgis_connection(config_filename = config_filename)
            CONNECTION_IS_ESTABLISHED = True
    if COLUMN_NAMES is None:
        COLUMN_NAMES = qqsql.get_tag_column_names(conn, config_filename = config_filename)
        if debug:
            print(f'Column names set: {COLUMN_NAMES}')
    if sp.__class__ == qq.SpatialPatternGraph:
        t0 = time()
        sql_query = build_sql_query_for_spatial_pattern(sp, column_names = COLUMN_NAMES, limit = 0)
        cur = cur = conn.cursor()
        cur.execute(sql_query)
        solutions = cur.fetchall()
        cur.close()
        memory_usage = psutil.Process().memory_info().rss/(2**20)
        if debug == True:
            print('Total solutions:', len(solutions))
        elapsed_time = time() - t0
        memory_usage = psutil.Process().memory_info().rss/(2**20)
        return solutions, elapsed_time, memory_usage

In [27]:
solutions, elapsed_time, memory_usage = QQSPM_SQL(sp, config_filename = '../config/paraiba_osm_database.ini')
len(solutions), elapsed_time, memory_usage

(0, 8.943276166915894, 166.8515625)

In [3]:
import qqspm_sql_module2 as qqsql2

In [4]:
solutions, elapsed_time, memory_usage = qqsql2.QQSPM_SQL(sp, config_filename = '../config/paraiba_osm_database.ini')
len(solutions), elapsed_time, memory_usage

(0, 8.474151611328125, 161.58203125)

In [1]:
def compute_e_matches_for_an_edge_sql(conn, edge, column_names, candidate_objects = set(), limit = 0, debug = False):
    #print('begin: LIMIT:', str(limit), limit)
    wi = edge.vi.keyword
    wj = edge.vj.keyword
    lij, uij = edge.constraint['lij'], edge.constraint['uij']
    relation = edge.constraint['relation']
    distance_check = f'ST_DistanceSphere(tb1.centroid, tb2.centroid) BETWEEN {lij} AND {uij} '
    # obs: WEIRD BEHAVIOR WITH ST_DWITHIN, not find objects within radius when they exist, we have to expand radius to find them (+5)
    if edge.constraint['is_exclusive']:
        
        exclusion_check = 'AND '
        sign = edge.constraint['sign']
        if sign == '>':
            exclusion_check += f"""(SELECT COUNT(*) FROM (SELECT osm_id, ST_DistanceSphere(tb2.centroid,  tb1.centroid) as distance
            FROM tb2
            WHERE ST_DWithin(tb2.centroid::geography, tb1.centroid::geography, {lij+7})) tbaux WHERE distance < {lij}) = 0 
            """
        elif sign == '<':
            exclusion_check += f"""(SELECT COUNT(*) FROM (SELECT osm_id, ST_DistanceSphere(tb2.centroid,  tb1.centroid) as distance
            FROM tb1
            WHERE ST_DWithin(tb1.centroid::geography, tb2.centroid::geography, {lij+7})) tbaux WHERE distance < {lij}) = 0 
            """
        elif sign == '<>':
            exclusion_check += f"""(SELECT COUNT(*) FROM (SELECT osm_id, ST_DistanceSphere(tb2.centroid,  tb1.centroid) as distance
            FROM tb2
            WHERE ST_DWithin(tb2.centroid::geography, tb1.centroid::geography, {lij+7})) tbaux1 WHERE tbaux1.distance < {lij} ) = 0 
            """
            exclusion_check += f""" AND (SELECT COUNT(*) FROM (SELECT osm_id, ST_DistanceSphere(tb2.centroid,  tb1.centroid) as distance
            FROM tb1
            WHERE ST_DWithin(tb1.centroid::geography, tb2.centroid::geography, {lij+7})) tbaux2 WHERE tbaux2.distance < {lij}) = 0 
            """
        else:
            print('Error: invalid edge sign!')
            return None
        
    else:
        exclusion_check = ''
    if relation is not None:
        relation_check = 'AND ' + relations_to_postgis_functions[relation] + '(tb1.geometry, tb2.geometry)'
    else:
        relation_check = ''
    #print('LIMIT:', str(limit), limit)
    if limit == 0:
        limit_check = ''
    else:
        limit_check = 'LIMIT ' + str(limit)

    keyword_match_search = build_where_clause_by_column_names(column_names, '{0}')
    
    sql = f"""
    WITH 
    tb1 AS
    (SELECT * FROM pois WHERE {keyword_match_search.format(wi)}),
    tb2 as
    (SELECT * FROM pois WHERE {keyword_match_search.format(wj)})
    SELECT tb1.osm_id as tb1_id, tb2.osm_id as tb2_id, tb1.name as tb1_name, tb2.name as tb2_name, tb1.geometry as tb1_geom, tb2.geometry as tb2_geom
    FROM tb1 INNER JOIN tb2
    ON
    {distance_check}
    {exclusion_check}
    {relation_check}
    {limit_check}
    """
    if debug == True:
        print('SQL query processed:', sql)
    result = GeoDataFrame.from_postgis(sql, conn, geom_col='tb1_geom', 
        crs=None, index_col=None, coerce_float=True, parse_dates=None, params=None)

    result['tb2_geom'] = result['tb2_geom'].apply(shapely.wkb.loads)
    return result

In [116]:
v1 = qqespm_module.SpatialVertex(1, 'bank')
v2 = qqespm_module.SpatialVertex(2, 'school')


edge = qqespm_module.SpatialEdge('1-2', v1, v2,  lij = 10, uij = 1000, sign = '>', relation = None)

result = compute_e_matches_for_an_edge_sql(conn, edge, limit = 10)
result.head()

SQL query processed:
    WITH
    tb1 AS
    (SELECT * FROM pois WHERE CONCAT(amenity,' ',shop,' ',tourism,' ',landuse,' ',leisure,' ',building,' ',office,' ',government) LIKE '%bank%'),
    tb2 as
    (SELECT * FROM pois WHERE CONCAT(amenity,' ',shop,' ',tourism,' ',landuse,' ',leisure,' ',building,' ',office,' ',government) LIKE '%school%')
    SELECT tb1.osm_id as tb1_id, tb2.osm_id as tb2_id, tb1.name as tb1_name, tb2.name as tb2_name, tb1.geometry as tb1_geom, tb2.geometry as tb2_geom
    FROM tb1, tb2
    WHERE
    ST_DistanceSphere(ST_Centroid(tb1.geometry), ST_Centroid(tb2.geometry)) BETWEEN 10 AND 1000
    AND (SELECT COUNT(osm_id)
            FROM tb2
            WHERE ST_DWithin(ST_Centroid(tb2.geometry)::geography, ST_Centroid(tb1.geometry)::geography, 10)) = 0


    LIMIT 10

c:\Users\CarlosVinicius\miniconda3\Lib\site-packages\geopandas\io\sql.py:170: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(

,tb1_id,tb2_id,tb1_name,tb2_name,tb1_geom,tb2_geom
0,213915733,213915822,Bank Of Cyprus UK,Serenity School,"POLYGON ((-0.09885 51.36334, -0.09884 51.36329...","POLYGON ((-0.099294 51.36448569919139, -0.0992..."
1,213915784,213915822,NatWest,Serenity School,"POLYGON ((-0.09836 51.36400, -0.09827 51.36394...","POLYGON ((-0.099294 51.36448569919139, -0.0992..."
2,544344832,214288100,TSB,Rotherhithe Primary School,"POLYGON ((-0.06238 51.49234, -0.06236 51.49234...","POLYGON ((-0.0505613 51.49174669917363, -0.050..."
3,5304787222,214288100,Halifax,Rotherhithe Primary School,POINT (-0.04758 51.49584),"POLYGON ((-0.0505613 51.49174669917363, -0.050..."
4,6329067413,214288100,Barclays,Rotherhithe Primary School,POINT (-0.04464 51.49197),"POLYGON ((-0.0505613 51.49174669917363, -0.050..."

In [117]:
result.shape

(10, 6)

In [38]:
distances = []
for i, row in result.iterrows():
    lon1, lat1 = row['tb1_geom'].centroid.coords[0]
    lon2, lat2 = row['tb2_geom'].centroid.coords[0]
    distances.append(lat_lon_distance(lat1, lon1, lat2, lon2, unit = 'kilometers'))

print(min(distances), max(distances))

0.012860383294111872 0.9999673294403949

In [39]:
def compute_e_matches_for_all_edges_sql(conn, sp, limit = 0, debug = False):
    edges = sp.edges
    vertices = sp.vertices
    e_matches = dict()
    
    candidate_objects = {vertex: set() for vertex in vertices} # it saves the set of objects that are candidates to each vertex 
    
    for edge in edges:
        if debug:
            print('- Computing e-matches for edge', edge.id)
        e_matches[edge] = compute_e_matches_for_an_edge_sql(conn, edge, candidate_objects, limit = limit)
        if len(e_matches[edge])==0:
            return None
        if debug:
            print(f'- Total e-matches for edge {edge.id}: {len(e_matches[edge])}')
        candidate_objects_i, candidate_objects_j = set(e_matches[edge].tb1_id.values), set(e_matches[edge].tb2_id.values)
        if candidate_objects[edge.vi]==set(): candidate_objects[edge.vi] = set(candidate_objects_i)
        else: candidate_objects[edge.vi] = candidate_objects[edge.vi].intersection(set(candidate_objects_i))
        if candidate_objects[edge.vj]==set(): candidate_objects[edge.vj] = set(candidate_objects_j)
        else: candidate_objects[edge.vj] = candidate_objects[edge.vj].intersection(set(candidate_objects_j))
        
    return e_matches

In [40]:
v1 = qqespm_module2.SpatialVertex(1, 'bank')
v2 = qqespm_module2.SpatialVertex(2, 'school')
v3 = qqespm_module2.SpatialVertex(2, 'grass')


edge_12 = qqespm_module2.SpatialEdge('1-2', v1, v2,  lij = 10, uij = 1000, sign = '-', relation = None)
edge_13 = qqespm_module2.SpatialEdge('1-3', v2, v3,  lij = 0, uij = 100, sign = '-', relation = 'covers')

sp = qqespm_module2.SpatialPatternGraph([v1,v2,v3], [edge_12, edge_13])

result = compute_e_matches_for_all_edges_sql(conn, sp)
if result is None:
    print('No solutions!')
else:
    for edge in result:
        print(edge, ':')
        display(result[edge].head())
        print()

c:\Users\CarlosVinicius\miniconda3\Lib\site-packages\geopandas\io\sql.py:170: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(

1-2: 1(bank) - 2(school) ({'lij': 10, 'uij': 1000, 'sign': '-', 'relation': None, 'is_exclusive': False}) :

,tb1_id,tb2_id,tb1_name,tb2_name,tb1_geom,tb2_geom
0,9620351980,4097475,Nationwide,North Harringay Primary School,POINT (-0.10447 51.59123),"POLYGON ((-0.1063015 51.58621419916137, -0.106..."
1,9620351980,6231349,Nationwide,Noel Park Primary School,POINT (-0.10447 51.59123),"POLYGON ((-0.1042977 51.59524869916022, -0.104..."
2,9620351980,30897879,Nationwide,None,POINT (-0.10447 51.59123),"POLYGON ((-0.0958785 51.59252049916058, -0.095..."
3,9620351980,30899217,Nationwide,None,POINT (-0.10447 51.59123),"POLYGON ((-0.097508 51.586165799161364, -0.097..."
4,9620351980,32853872,Nationwide,St Marys Infants School CofE,POINT (-0.10447 51.59123),"POLYGON ((-0.1152327 51.58770509916115, -0.115..."

1-3: 2(school) - 2(grass) ({'lij': 0, 'uij': 0.001, 'sign': '-', 'relation': 'covers', 'is_exclusive': False}) :

,tb1_id,tb2_id,tb1_name,tb2_name,tb1_geom,tb2_geom
0,-8657820,-8657820,Ibstock Place School,Ibstock Place School,"POLYGON ((-0.25147 51.45485, -0.25047 51.45475...","POLYGON ((-0.2514748 51.45484729917863, -0.250..."
1,-8657820,-8657820,Ibstock Place School,Ibstock Place School,"POLYGON ((-0.25526 51.45430, -0.25525 51.45428...","POLYGON ((-0.2552558 51.4542985991787, -0.2552..."

In [42]:
compute_relation(result[edge_13].tb1_geom[0], result[edge_13].tb2_geom[0])

'overlaps'

In [46]:
def merge_partial_solutions(pa, pb, vertices):
    # pa and pb are dictionaries in the format: {v1: obj1, ..., vn: objn} where vi's are vertices and obji's are GeoObjs or None
    # merging means aggregating the two partial solutions into a single one if possible
    # sometimes it's not possible, when the two solutions provide a different value for the same vertex
    merged = dict()
    for vertex in vertices:
        if pa[vertex] is not None and pb[vertex] is not None and pa[vertex]!=pb[vertex]:
            return None # there is no merge (merging is impossible)
        merged[vertex] = pa[vertex] or pb[vertex] # becomes the one that is not the 'None' if there is one not being None
    return merged

def merge_lists_of_partial_solutions(pas, pbs, vertices):
    merges_list = []
    for pa in pas:
        for pb in pbs:
            merge = merge_partial_solutions(pa, pb, vertices)
            if merge is not None:
                merges_list.append(merge)
    return merges_list

def generate_partial_solutions_ematch_sql(e_match, edge, vertices, partial_solutions):
    os, ot = e_match['tb1_id'], e_match['tb2_id']
    partial_solution = {vertex: None for vertex in vertices}
    partial_solution[edge.vi] = os
    partial_solution[edge.vj] = ot
    partial_solutions.append(partial_solution)

def generate_partial_solutions_from_e_matches_parallel_sql(e_matches, edge, vertices, pool_obj = None):
    partial_solutions = []
    generate_partial_solutions_ematch_partial = partial(generate_partial_solutions_ematch_sql, edge = edge, vertices = vertices, partial_solutions = partial_solutions)
    e_matches.apply(generate_partial_solutions_ematch_partial, axis = 1)
    #pool_obj.map(generate_partial_solutions_ematch_partial, e_matches)
    return partial_solutions

def filter_e_matches_by_vertex_candidates_sql(e_matches, edge, candidates):
    #return [e for e in e_matches if (e[0] in candidates[edge.vi] and e[1] in candidates[edge.vj])]
    return e_matches[(e_matches['tb1_id'].isin(candidates[edge.vi]))&(e_matches['tb2_id'].isin(candidates[edge.vj]))]
    
def join_e_matches_sql(sp: qqespm_module2.SpatialPatternGraph, e_matches: dict, pool_obj = None):
    edges = sp.edges
    vertices = sp.vertices
    candidates = {vertex: set() for vertex in vertices}
    for edge in edges:
        cvi, cvj = e_matches[edge]['tb1_id'].values, e_matches[edge]['tb2_id'].values
        if candidates[edge.vi] == set(): candidates[edge.vi] = set(cvi)
        else: candidates[edge.vi] = candidates[edge.vi].intersection(set(cvi))
        if candidates[edge.vj] == set(): candidates[edge.vj] = set(cvj)
        else: candidates[edge.vj] = candidates[edge.vj].intersection(set(cvj))
        
    for vertex in candidates:
        candidates[vertex] = list(candidates[vertex])
        
    for edge in edges:
        e_matches[edge] = filter_e_matches_by_vertex_candidates_sql(e_matches[edge], edge, candidates)
        
    partial_solutions = [{vertex: None for vertex in vertices}]
    for edge in edges:
        partial_solutions_edge = generate_partial_solutions_from_e_matches_parallel_sql(e_matches[edge], edge, vertices, pool_obj)
        partial_solutions = merge_lists_of_partial_solutions(partial_solutions, partial_solutions_edge, vertices)

    if None in partial_solutions:
        print('None is in partial solutions')
        print(sp)
        
    final_solutions = list(filter(lambda x: x is not None, partial_solutions))
    
    return final_solutions

In [47]:
def qqspm_sql(conn, sp, debug = True):
    if sp.__class__ == qqespm_module2.SpatialPatternGraph:
        t0 = time()
        pool_obj = multiprocessing.Pool()
        edges = sp.edges
        keywords = [v.keyword for v in sp.vertices]
        # if any([keyword not in ilq.quadtrees for keyword in keywords]):
        #     return [], time() - t0, psutil.Process().memory_info().rss/(2**20)
        if debug:
            print('Computing e-matches for edges')
        e_matches = compute_e_matches_for_all_edges_sql(conn, sp, debug)
        if e_matches is None:
            return [], time() - t0, psutil.Process().memory_info().rss/(2**20)
        solutions = join_e_matches_sql(sp, e_matches, pool_obj)
        pool_obj.close()
        elapsed_time = time() - t0
        memory_usage = psutil.Process().memory_info().rss/(2**20)
        return solutions, elapsed_time, memory_usage
    else:
        pass

In [59]:
v1 = qqespm_module2.SpatialVertex(1, 'bank')
v2 = qqespm_module2.SpatialVertex(2, 'school')
v3 = qqespm_module2.SpatialVertex(2, 'pharmacy')


edge_12 = qqespm_module2.SpatialEdge('1-2', v1, v2,  lij = 10, uij = 1000, sign = '-', relation = None)
edge_13 = qqespm_module2.SpatialEdge('1-3', v2, v3,  lij = 0, uij = 500, sign = '-', relation = None)

sp = qqespm_module2.SpatialPatternGraph([v1,v2,v3], [edge_12, edge_13])

In [60]:
solutions, elapsed_time, memory_usage = qqspm_sql(conn, sp)

Computing e-matches for edges
- Computing e-matches for edge 1-2

c:\Users\CarlosVinicius\miniconda3\Lib\site-packages\geopandas\io\sql.py:170: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(

- Total e-matches for edge 1-2: 22358
- Computing e-matches for edge 1-3
- Total e-matches for edge 1-3: 9605

In [61]:
len(solutions)

62779

In [67]:
v1 = qqespm_module2.SpatialVertex(1, 'school')
v2 = qqespm_module2.SpatialVertex(2, 'grass')


edge_12 = qqespm_module2.SpatialEdge('1-2', v1, v2,  lij = 0, uij = 500, sign = '-', relation = 'intersects')
result = compute_e_matches_for_an_edge_sql(conn, edge_12)
result.head()

c:\Users\CarlosVinicius\miniconda3\Lib\site-packages\geopandas\io\sql.py:170: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(

,tb1_id,tb2_id,tb1_name,tb2_name,tb1_geom,tb2_geom
0,-8657820,-8657820,Ibstock Place School,Ibstock Place School,"POLYGON ((-0.25147 51.45485, -0.25047 51.45475...","POLYGON ((-0.2514748 51.45484729917863, -0.250..."
1,-8657820,-8657820,Ibstock Place School,Ibstock Place School,"POLYGON ((-0.25526 51.45430, -0.25525 51.45428...","POLYGON ((-0.2552558 51.4542985991787, -0.2552..."

In [71]:
compute_relation(result.tb1_geom[1], result.tb2_geom[1])

'overlaps'